<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel logowania</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img class="logo-img" src="../img/logo.svg">
        </div>
        <div class="login-container">
            <form class="login">
                <input name="email" type="text" placeholder="Email@email.com">
                <input name="password" type="password" placeholder="Hasło">
                <button>LOGIN</button>
            </form>
        </div>
    </div>
</body>
</html>