@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    font-family: montserrat, arial, verdana;
}

#msform .button-36 {
    background-color: black;
    width: 100px;
    margin: 10px 5px;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-36:hover {
    box-shadow: rgba(10,10,10, 0.5) 0 2px 30px;
    transition-duration: .1s;
}

.title {
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    background: #CFCFCF 0% 0% no-repeat padding-box;
    text-align: center;
}

.form-container {
    width: 100%;
    height: 74vh;
    display: flex;
    flex-direction: column;
    background:
            rgba(230,230,230, 0.6);
        /*linear-gradient(rgba(224,231,238, 0.6), rgba(102,102,102, 0.6)); */
            /*linear-gradient(rgb(224,231,238), rgb(200,170,239));*/
}

.left-panel-comp, .right-panel-comp {
    padding: 10px;
    height: 20vh;
    width: 100%;
    background: #E0E7EE 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}


.left-panel, .right-panel {
    margin-bottom: 2vh;
    height: 72vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.left-panel {
    width: 50vw;
    margin-left: 30px;
}

.right-panel {
    width: 40vw;
    margin-right: 30px;
    justify-content: center;
}

.title-input, .desc-input, .size, .price, .mail, .category-select, .city-name {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: none;
    width: 94%;
    height: 25%;
}

.title-input {
    width: 94%;
    height: 30%;
}

.category-select {
    width: 60%;
    height: 30%;
}

.desc-input {
    width: 94%;
    height: 70%;
}

#photo-upload {
    height: 18vh;
    width: 100%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#file-input {
    width: 50% !important;
}

.preview img {
    width:100px;
    height: 100px;
    display:none;
    margin-bottom: 30px;
}

#base-data, section {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.data-input {
    width: 94%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.size, .price, .city-name {
    height: 100%;
    width: 30%;
}

#description {
    margin-bottom: 3vh;
}

#base-data {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-around;
}

#location {
    height: 15vh;
    width: 100%;
}

#add {
    background: transparent linear-gradient(180deg, #600C5D 0%, #0C0F10 100%) 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7vh;
    width: 40%;
    margin-top: 6vh;
    margin-bottom: 6vh;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

/*basic reset*/
* {margin: 0; padding: 0;}

/*form styles*/
#msform {
    width: 40vw;
    margin: 50px auto;
    text-align: center;
    position: relative;
    background: transparent;
}
#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

    /*stacking fieldsets above each other*/
    position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}
/*inputs*/
#msform input, #msform select {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    height: 30vh;
}

/*buttons*/
#msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
    text-decoration: none;
    font-size: 14px;
}
#msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
#progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    display: inline-block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
    background-color: black;
    color: white;
}

#map {
    height: 100%;
    width: 100%;
}

.marker {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Logo_Wydzia%C5%82u_Informatyki_i_Telekomunikacji_Politechniki_Krakowskiej.png/480px-Logo_Wydzia%C5%82u_Informatyki_i_Telekomunikacji_Politechniki_Krakowskiej.png');
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
    box-shadow: 0 0 1em rgba(0,0,0,0.5) ;
}

section {
    width: 100%;
    height: 30vh;
    padding: 0 !important;
    overflow: hidden;
}

.mapboxgl-popup {
    max-width: 200px;
}
.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-device-width : 420px) {
    .title {
        height: 7vh;
        font-size: 30px;
    }

    form {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        width: 80vw;
        margin: 0;
        justify-content: center;
        align-items: center;
    }


    .container {
        display: flex;
        flex-direction: column;
    }

    .form-container {
        height: 130vh;
    }

    #location-map {
        padding: 10px;
    }

    .img-add {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 85vw;
    }
    
    #photo-upload {
        width: 100%;
        height: 20vh;
    }

    #add {
        width: 60vw;
        height: 20vw;
        margin-top: 3vh;
        margin-left: 0;
    }

    #data {
        height: 30vh;
    }
    .data-input {
        flex-direction: column;
        height: 80%;
    }

    .number, .price, .mail {
        height: 100%;
        width: 94%;
        margin-top: 1vh;
    }
}