* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.base-container {
    display: block;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
}

.text {
    height: 10vh;
}

.category-container {
    background:
            #E6E6E6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.main-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
    background: #888888;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    margin: 10vh 0;
}

.img-and-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 100%;
}

.img-and-price-container>img {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px;
    height: 500px;
}

.item-information {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
}

.description-and-user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 2vh;
}

#description-h2 {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 1vh;
    width: 100%;
    box-sizing: border-box;
    color: black;
    font-size: 15px;
    text-align: left;
    background-color: #E6E6E6;
    height: 50vh;
    overflow: auto;
}

.description, .user {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-container {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: #E6E6E6;
}

#user-email {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 40%;
    box-sizing: border-box;
    color: black;
    font-size: 20px;
    text-align: center;
    background-color: #E6E6E6;
}

h2, h1 {
    color: #E6E6E6;
    width: 100%;
    text-align: center;
}

.button-36 {
    background-color: black;
    /*background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%); */
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 5vh;
    width: 10vw;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-36:hover {
    box-shadow: rgba(10,10,10, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.action-button {
    width: 100% !important;
    font-size: 80% !important;
}

#update-form, #offers-form, #delete-form {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meeting-information-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
}

.map-and-description-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

#map2 {
    height: 100%;
}

.marker {
    background-image: url('../img/message-question.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.counter-offer-marker {
    background-image: url('../img/reply-solid.svg');
    background-size: cover;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 1em rgba(0,0,0,0.5) ;
}

section {
    width: 100%;
    border-radius: 10px;
    height: 50vh;
    grid-template-columns: 1fr !important;
    padding: 0 !important;
    overflow: hidden;
    margin-bottom: 3vh;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.offer-button {
    background-color: black;
    /*background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%); */
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4vh;
    width: 7vw;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 5px;
}

.popup-h3, .popup-p, .popup-h2 {
    margin: 0;
    color: black;
}

.bid-form-container,  .description-and-user-info-inactive {
    display: none;
}

.bid-form-container-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-bottom: 2vh;
}

.bid-form {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 1vh;
    width: 100%;
    box-sizing: border-box;
    color: black;
    font-size: 15px;
    text-align: left;
    background-color: #E6E6E6;
    height: 50vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bid-form > h2 {
    color: black;
    font-size: 100%;
}

.bid-input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 1%;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 20px;
    text-align: center;
}

#close-form {
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
}

#close-form:hover {
    display:inline-block;
    padding:2px 5px;
    background:#ccc;
    color:#fff;
}

.user-data-form {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#buttons-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}