* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(127deg, #00c2ff, #600c5d);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 16s ease infinite;
    -moz-animation: AnimationName 16s ease infinite;
    animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}
@keyframes AnimationName {
    0%{background-position:0% 5%}
    50%{background-position:100% 96%}
    100%{background-position:0% 5%}
}

.logo {
    width: 50%;
    display: flex;
    justify-content: center;
}

.login-container {
    width: 50%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #FFFFFFD9 0% 0% no-repeat padding-box;
    box-shadow: inset 6px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 54px;
}

.button {
    text-align: center;
    width: 40%;
    background: transparent linear-gradient(180deg, #600C5D 0%, #0C0F10 100%) 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 19px;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

.title {
    width: 30%;
    background: #CADDF187 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 48px;
    text-align: center;
    padding: 5px;
    font-size: 45px;
    color: #707070;
    margin-bottom: 5%;
}

.option-container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #00C2FF 0%, #600C5D 100%) 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.option-icon {
    width: 180px;
    height: 160px;
}


.option {
    background: transparent linear-gradient(180deg, #CADDF1 0%, #00C2FFB0 100%) 0% 0% no-repeat padding-box;
    border-radius: 50%;
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buy, .sell {
    font-size: 40px;
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

@media only screen and (max-device-width : 420px) {
    .container {
        flex-direction: column;
    }

    * {
        font-size: 20px;
    }

    .login-container {
        height: 60vh;
    }

    .login-container, .logo {
        width: 100%;
    }

    .login {
        margin: auto;
        height: 50vh;
    }

    .login input {
        font-size: 15px;
        width: 60%;
    }

    .button {
        width: 70%;
        text-align: center;
    }

    .logo-img {
        height: 7em;
        margin: 2em;
    }

    .title {
        width: 80%;
        font-size: 40px;
        margin-bottom: 20%;
        margin-top: -20%;
    }

    .sell, .buy {
        font-size: 25px;
    }

    .option-icon {
        width: 100px;
        height: 100px;
    }

    .option {
        height: 45vw;
        width: 45vw;
    }

    #register {
        margin-top: -5px;
    }
}

